@charset "UTF-8";
/* CSS Document */
html{
	-webkit-font-smoothing: subpixel-antialiased;
	--myYellow:#7F7F00;
	font-family: "Menlo";
	background: url("/images/background.jpg") no-repeat center center fixed;
	padding: 0px 10px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body{
	box-sizing: border-box;
	margin:10px auto;
	max-width:800px;
	font-size: 1.1em;
	padding:20px 10px;
	min-height: calc(100% - 20px);
}
.floating{
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.08);
	-moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.08);
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.08);
}
header{
	text-align: center;
	font-weight: bold;
}
.mainimg{
	object-fit: cover;
	width: 100%;
	height: 8em;
	max-height: 200px;
}
#entrybutton {
	font-size: 3em;
	border: 0.1em dashed black;
	display: inline-block;
	padding: 10px;
	margin: auto;
	text-decoration: none;
	color: black;
	background: rgba(255,255,255,0.70);
}
#entrybutton:hover{
	font-style: italic;
	color:var(--myYellow);
	border: 0.1em dashed var(--myYellow);
}
.poem{
	text-align: center;
	font-size: 0.9em;
}
figure{
	text-align: center;
	max-width: 500px;
	padding:0 10px;
	margin: auto;
}
.centerimg{
	object-fit: cover;
	width: 100%;
	height: 400px;
}
a{
	text-decoration: none;
	color: black;
}
.citation{
	width:100%;
	text-align: right;
}
a:hover{
	color: var(--myYellow);
}
.pagelinks{
}
.pagelinks:hover{
	border-bottom: 0.0833em dashed var(--myYellow);
}
#maindiv{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	text-align: center;
}
/** Bold */
@font-face {
	font-family: "Menlo";
	font-weight: 700;
	src: url("/fonts/Menlo-Bold.ttf") format("truetype");
}

/** Bold Italic */
@font-face {
	font-family: "Menlo";
	font-weight: 700;
	font-style: italic;
	src: url("/fonts/Menlo-BoldItalic.ttf") format("truetype");
}

/** Regular */
@font-face {
	font-family: "Menlo";
	font-weight: 400;
	src: url("/fonts/Menlo-Regular.ttf") format("truetype");
}

/** Regular Italic */
@font-face {
	font-family: "Menlo";
	font-weight: 400;
	font-style: italic;
	src: url("/fonts/Menlo-Italic.ttf") format("truetype");
